[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ray = {extras = ["default"], version = "*"}
python-dotenv = "*"
pyarrow = "*"
langchain = "*"
matplotlib = "*"
bs4 = "*"
tqdm = "*"
sentence-transformers = "*"
pytorch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.11"
